@font-face {
  font-family: "Baysan Bold";
  src: url("../font/DG-Baysan-Bold.ttf");
}
@font-face {
  font-family: "Baysan Light";
  src: url("../font/DG-Baysan-Light.ttf");
}
@font-face {
  font-family: "Baysan Regular";
  src: url("../font/DG-Baysan-Regular.ttf");
}
@font-face {
  font-family: "Baysan Semibold";
  src: url("../font/DG-Baysan-Semibold.ttf");
}
