$color-primary-dark: #0e2c5a;
$color-primary: #00eaff;
$color-primary-light: #3c8ce7;
$color-secondary: #68beee;
$color-third: #375076;
$color-gray: #eeeeee;
$color-gray-dark: #646262;
$color-black: #000;
$color-white: #fff;

// fonts

$font-bold: "Baysan Bold";
$font-light: "Baysan Light";
$font-regular: "Baysan Regular";
$font-semibold: "Baysan Semibold";
